name: Auto Tag & Write Version

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'src/version.ts'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Calculate next tag
        run: |
          git fetch --tags

          LAST_TAG=$(git tag --list 'v*' --sort=-v:refname | head -n 1)
          [ -z "$LAST_TAG" ] && LAST_TAG="v0.0.0"

          VERSION="${LAST_TAG#v}"

          MAJOR=$(echo "$VERSION" | cut -d. -f1)
          MINOR=$(echo "$VERSION" | cut -d. -f2)
          PATCH=$(echo "$VERSION" | cut -d. -f3)

          MAJOR=${MAJOR:-0}
          MINOR=${MINOR:-0}
          PATCH=${PATCH:-0}

          PATCH=$((PATCH + 1))

          NEW_TAG="v$MAJOR.$MINOR.$PATCH"
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV

      - name: Write version file
        run: |
          mkdir -p src
          echo "export const APP_VERSION = \"$NEW_TAG\";" > /version.js

      - name: Commit version file
        run: |
          git config user.name "gostgmaer"
          git config user.email "kishor81160@gmail.com"
          git add src/version.ts
          git commit -m "chore: auto release $NEW_TAG" || echo "No changes"

      - name: Create & push tag
        run: |
          git tag -a "$NEW_TAG" -m "Release $NEW_TAG"
          git push origin main
          git push origin "$NEW_TAG"
